$red: #d73a49;
$night: #1b1b1b;
$dark: #282828;
$dark2: #2e2e2e;
$medgray: #353535;
$medgray2:#3b3b3b;
$gray: #555555;
$light: #ababab;
$light2: #e6e5e5;
$white: #ffffff;
// Sizes
$sidebar-width: 256px;
$header-height: 80px;

// mixins
@mixin box-shadow($color) {
  box-shadow: 1px 1px $color, 2px 2px $color;
  -webkit-box-shadow: 1px 1px $color, 2px 2px $color;
  -moz-box-shadow: 1px 1px $color, 2px 2px $color;
}





* { box-sizing: border-box; }
html { overflow-y: scroll; }
:focus { outline: 0; }
body {
  background-color: $light;
  font-family: Arial, Helvetica, sans-serif;
}



.grid {
  left: $sidebar-width;
  top: $header-height;
  width: 750px;
  margin: 10px;
  // :after {
  //   content: '';
  //   display: block;
  //   clear: both;
  // }
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
  padding: 10px;
  img {
    display: block;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    @include box-shadow(lighten($gray, 10%));
  }
  p {
    text-align: center;
    background-color: $light2;
    padding-bottom: 4px;
    font-size: 14px;
    color: $dark;
    border-radius: 0px 0px 7px 7px;
    @include box-shadow(lighten($gray, 10%));
  }
  [data-state="animate"] {
    border-color: $red;
    border-style: solid;
    border-width: 2px;
  }
}


label {
  color: $light;
  font-size: 14px;
}


header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  padding-left: $sidebar-width + 25px;
  padding-top: 25px;
  background-color: $dark;
  @include box-shadow(lighten($dark, 10%));

  // Text Properties
  color: $light2;
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: 1px 1px $gray, 2px 2px $gray;
  
}



.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}


.logo {
  padding-top: 26px;
  font-size: 45px;
  text-align: center;
  height: $header-height;
  width: 100%;
  background-color: $night;
  color: $white;
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow: 1px 1px $medgray2, 2px 2px $medgray2;
}

.sidebar1 {
  height: 80px;
  width: 100%;
  padding-top: 14px;
  background-color: $dark;
  border-bottom: 1px solid $night;
  display: flex;
  @include box-shadow(darken($dark, 10%));
  &:hover {
    background-color: $dark2;
  }
}
.sidebar2 {
  height: 80px;
  width: 100%;
  padding-top: 14px;
  background-color: $medgray;
  border-bottom: 1px solid $night;
  @include box-shadow(darken($medgray, 10%));
  &:hover {
    background-color: $medgray2;
  }
}
.sidebar3 {
  height: 100%;
  width: 100%;
  @include box-shadow(darken($red, 10%));
}

#content {
  width: 750px;
  height: 100%;
  position: absolute;
  left: $sidebar-width;
  top: $header-height;
  background-color: salmon;
}


.row {
  height: 100px;
}


#btns {
  padding: 16px;
  background-color: $red;
  height: 100%; 
  overflow-y: auto;
  min-height: 100%;
}


#btn-form {
  margin: 0px auto;
}

.slider {
  width: 182px;
  margin: 0px auto;
}


#plus-button {
  background: $gray;
  font-size: 22px;
  color: $white;
  height: 28px;
  width: 28px;
  line-height: 11px;
  border: none;
  border-radius: 3px;
  vertical-align: top;
  &:hover {
  background: $red;
  }
}



.item p {
  background-color: $white;
  width: 30px;
  height: 23px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
}





@mixin button {
  border-radius: 4px;
  background-color: $white;
  color: $gray;
  text-transform: uppercase;
  border: 1px solid $dark;
  height: 28px;
  padding: 8px 10px;
  font: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.item-btn {
  @include button;
  margin: 5px;  
  &:hover {
    background-color: $dark;
    color: $white;
  }
}
.active {
  background-color: $dark;
  color: $white;
}



#btn-input {
  @include button;
  width: 150px;
}



/* The slider itself */
.slider-range {
  width: 150px;
  margin: 0;
  -webkit-appearance: none;
  border-radius: 3px;
  appearance: none;
  height: 28px;
  background: $gray;
  outline: none;
  border: 1px solid $night;
}


/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px; 
  height: 28px;
  background: $dark;
  cursor: pointer;
  border-radius: 3px;
}

.slider-range::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: $dark;
  cursor: pointer;
  border-radius: 3px;
}




.slider-val {
  color: $white;
  background-color: $dark;
  height: 28px;
  width: 28px;
  float: right;
  padding-top: 6px;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
}

#x{ 
   display: none;
 }
.item-btn:hover #x{
   display: block;
 }


#x {
  position: relative;
  background: $gray;
  font-size: 10px;
  color: white;
  top: -27px;
  right: 17px;
  padding-top: 1px;
  height: 14px;
  width: 14px;
  border-radius: 7px;
}
