* {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

:focus {
  outline: 0; }

body {
  background-color: #ababab;
  font-family: Arial, Helvetica, sans-serif; }

.grid {
  left: 256px;
  top: 80px;
  width: 750px;
  margin: 10px; }

.grid-sizer,
.grid-item {
  width: 33.333%; }

.grid-item {
  float: left;
  padding: 10px; }
  .grid-item img {
    display: block;
    width: 100%;
    border-radius: 7px 7px 0px 0px;
    box-shadow: 1px 1px #6f6f6f, 2px 2px #6f6f6f;
    -webkit-box-shadow: 1px 1px #6f6f6f, 2px 2px #6f6f6f;
    -moz-box-shadow: 1px 1px #6f6f6f, 2px 2px #6f6f6f; }
  .grid-item p {
    text-align: center;
    background-color: #e6e5e5;
    padding-bottom: 4px;
    font-size: 14px;
    color: #282828;
    border-radius: 0px 0px 7px 7px;
    box-shadow: 1px 1px #6f6f6f, 2px 2px #6f6f6f;
    -webkit-box-shadow: 1px 1px #6f6f6f, 2px 2px #6f6f6f;
    -moz-box-shadow: 1px 1px #6f6f6f, 2px 2px #6f6f6f; }
  .grid-item [data-state="animate"] {
    border-color: #d73a49;
    border-style: solid;
    border-width: 2px; }

label {
  color: #ababab;
  font-size: 14px; }

header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding-left: 281px;
  padding-top: 25px;
  background-color: #282828;
  box-shadow: 1px 1px #424242, 2px 2px #424242;
  -webkit-box-shadow: 1px 1px #424242, 2px 2px #424242;
  -moz-box-shadow: 1px 1px #424242, 2px 2px #424242;
  color: #e6e5e5;
  text-transform: uppercase;
  font-size: 36px;
  text-shadow: 1px 1px #555555, 2px 2px #555555; }

.sidebar {
  width: 256px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0; }

.logo {
  padding-top: 26px;
  font-size: 45px;
  text-align: center;
  height: 80px;
  width: 100%;
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: 'Sedgwick Ave Display', cursive;
  text-shadow: 1px 1px #3b3b3b, 2px 2px #3b3b3b; }

.sidebar1 {
  height: 80px;
  width: 100%;
  padding-top: 14px;
  background-color: #282828;
  border-bottom: 1px solid #1b1b1b;
  display: flex;
  box-shadow: 1px 1px #0f0f0f, 2px 2px #0f0f0f;
  -webkit-box-shadow: 1px 1px #0f0f0f, 2px 2px #0f0f0f;
  -moz-box-shadow: 1px 1px #0f0f0f, 2px 2px #0f0f0f; }
  .sidebar1:hover {
    background-color: #2e2e2e; }

.sidebar2 {
  height: 80px;
  width: 100%;
  padding-top: 14px;
  background-color: #353535;
  border-bottom: 1px solid #1b1b1b;
  box-shadow: 1px 1px #1c1c1c, 2px 2px #1c1c1c;
  -webkit-box-shadow: 1px 1px #1c1c1c, 2px 2px #1c1c1c;
  -moz-box-shadow: 1px 1px #1c1c1c, 2px 2px #1c1c1c; }
  .sidebar2:hover {
    background-color: #3b3b3b; }

.sidebar3 {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px #b92534, 2px 2px #b92534;
  -webkit-box-shadow: 1px 1px #b92534, 2px 2px #b92534;
  -moz-box-shadow: 1px 1px #b92534, 2px 2px #b92534; }

#content {
  width: 750px;
  height: 100%;
  position: absolute;
  left: 256px;
  top: 80px;
  background-color: salmon; }

.row {
  height: 100px; }

#btns {
  padding: 16px;
  background-color: #d73a49;
  height: 100%;
  overflow-y: auto;
  min-height: 100%; }

#btn-form {
  margin: 0px auto; }

.slider {
  width: 182px;
  margin: 0px auto; }

#plus-button {
  background: #555555;
  font-size: 22px;
  color: #ffffff;
  height: 28px;
  width: 28px;
  line-height: 11px;
  border: none;
  border-radius: 3px;
  vertical-align: top; }
  #plus-button:hover {
    background: #d73a49; }

.item p {
  background-color: #ffffff;
  width: 30px;
  height: 23px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center; }

.item-btn {
  border-radius: 4px;
  background-color: #ffffff;
  color: #555555;
  text-transform: uppercase;
  border: 1px solid #282828;
  height: 28px;
  padding: 8px 10px;
  font: 11px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px; }
  .item-btn:hover {
    background-color: #282828;
    color: #ffffff; }

.active {
  background-color: #282828;
  color: #ffffff; }

#btn-input {
  border-radius: 4px;
  background-color: #ffffff;
  color: #555555;
  text-transform: uppercase;
  border: 1px solid #282828;
  height: 28px;
  padding: 8px 10px;
  font: 11px;
  font-family: Arial, Helvetica, sans-serif;
  width: 150px; }

/* The slider itself */
.slider-range {
  width: 150px;
  margin: 0;
  -webkit-appearance: none;
  border-radius: 3px;
  appearance: none;
  height: 28px;
  background: #555555;
  outline: none;
  border: 1px solid #1b1b1b; }

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  background: #282828;
  cursor: pointer;
  border-radius: 3px; }

.slider-range::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #282828;
  cursor: pointer;
  border-radius: 3px; }

.slider-val {
  color: #ffffff;
  background-color: #282828;
  height: 28px;
  width: 28px;
  float: right;
  padding-top: 6px;
  font-size: 15px;
  border-radius: 3px;
  text-align: center; }

#x {
  display: none; }

.item-btn:hover #x {
  display: block; }

#x {
  position: relative;
  background: #555555;
  font-size: 10px;
  color: white;
  top: -27px;
  right: 17px;
  padding-top: 1px;
  height: 14px;
  width: 14px;
  border-radius: 7px; }

/*# sourceMappingURL=style.css.map */
