body {
  background-color: #cbd2d6;
}

.item p {
  background-color: white;
  width: 30px;
  height: 23px;
  border: 1px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

#buttons {
  background-color: #d73a49;
}

/* animal button */
.animal {
  margin: 5px;
  color: #555;
  text-transform: uppercase;
  display: inline-block;
  padding: .5em .75em;
  border: 2px solid #333;
}

.animal:hover {
  background-color: #333;
  color: rgba(255, 255, 255, .75);
}

.active {
  background-color: #333;
  color: rgba(255, 255, 255, .75);
}

#gifs-appear-here {
  display: flex;
  flex-flow: column wrap;
  width: 700px;
  background-color: lime;
  max-height: 800px;
  margin-left: -8px;
}

.item {
  width: 220px;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 8px 8px 0;
}

.item:hover {
  opacity: .5;
}

.item [data-state="animate"]{
  border: 2px solid blue;
}

#button-form {
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255,255,255,0.75);
  background-color: #24292e;
}

.remove{
  width: 20px;
  height: 20px;
  background-color: red;
}

#button-input {
  background-color: #3f4448;
  color: rgba(255,255,255,0.75);
  padding: 6px 8px;
  box-sizing: border-box;
  height: 30px;
  width: 200px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  outline: none;
}

#button-input:focus {
  background-color: #515558;
}
/*.form-control, .form-select {

    padding: 6px 8px;

    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}*/






