



$formbg: rgba(255,255,255,0.75);
$gifbg: #9e9e9e;
// #eeeeee
// #dddddd
// #cdcdcd

$gray: #555555;
$steel: #515558;
$btn-input: #3f4448;
$slider-bg: #3e4448;

$darkblue: #666; // #24292e

// new colors
$red: #d73a49;
$night: #1b1b1b;
$dark: #282828;

$white: #ffffff;

$light: #ababab;


$sidebar-width: 256px;
$header-height: 80px;

body {
  background-color: $light;
  font-family: Arial, Helvetica, sans-serif;
}

label {
  color: $light;
  font-size: 14px;
}


header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  padding-left: $sidebar-width + 25px;
  padding-top: 25px;
  box-sizing: border-box;
  background-color: $dark;
  // Text Properties
  color: $light;
  text-transform: uppercase;
  font-size: 36px;
}

:focus {
  outline: 0;
}

.sidebar {
  width: $sidebar-width;
  height: 100%;
  position: fixed;
  z-index: 1;
}


.logo {
  padding-top: 26px;
  font-size: 45px;
  text-align: center;
  box-sizing: border-box;
  height: $header-height;
  width: 100%;
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: 'Sedgwick Ave Display', cursive;
}

.sidebar1 {
  height: 80px;
  width: 100%;
  padding-top: 14px;
  background-color: $dark;
  border-bottom: 1px solid $night;
  box-sizing: border-box;
  display: flex;
  &:hover {
    background-color: #2e2e2e;
  }
}
.sidebar2 {
  height: 80px;
  width: 100%;
  padding-top: 14px;
  box-sizing: border-box;
  background-color: #353535;
  border-bottom: 1px solid $night;
  &:hover {
    background-color: #3b3b3b;
  }
}
.sidebar3 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
}

#content {
  width: 750px;
  height: 100%;
  position: absolute;
  left: $sidebar-width;
  top: $header-height;
  background-color: salmon;
}



.row {
  height: 100px;
}


#btns {
  padding: 16px;
  background-color: $red;
  height: 100%; 
  overflow-y: auto;
  min-height: 100%;
}


#btn-form {
  margin: 0px auto;
}

.slider {
  width: 182px;
  margin: 0px auto;
}


#plus-button {
  background: #484848;
  font-size: 22px;
  color: $white;
  height: 28px;
  width: 28px;
  line-height: 11px;
  border: none;
  border-radius: 3px;
  vertical-align: top;
  &:hover {
  background: $red;
  }
}



/* all arrows */
// #btn-form:after, #btns:after {
//   content: '';
//   display: block;  
//   position: absolute;
//   width: 0;
//   height: 0;
//   border: 10px solid transparent;
//   z-index: 1;
// }

// /* right arrow */
// #btn-form:after {
//   left: 100%;
//   top: 50%;
//   margin-top: -10px;
//   border-left: 10px solid $darkblue;
// }

/* down arrow */
// #btns:after {
//   left: 50%;
//   top: 100%;
//   margin-left: -10px;
//   border-top: 10px solid $red;
// }


.item p {
  background-color: $white;
  width: 30px;
  height: 23px;
  border: 1px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}





@mixin button {
  border-radius: 4px;
  background-color: $white;
  color: $gray;
  text-transform: uppercase;
  border: 1px solid $dark;
  height: 28px;
  padding: 8px 10px;
  box-sizing: border-box;
  font: 11px;
  font-family: Arial, Helvetica, sans-serif;
}

.item-btn {
  @include button;
  margin: 5px;  
  &:hover {
    background-color: $dark;
    color: $white;
  }
}
.active {
  background-color: $dark;
  color: $white;
}



#btn-input {
  @include button;
  width: 150px;
  &:focus {
    // background-color: $steel;
  }
}







#gif-area {
  display: flex;
  flex-flow: column wrap;
  width: 700px;
  background-color: $gifbg;
  max-height: 800px;
}

.item {
  width: 220px;
  background-color: $white;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 8px 8px 0;
}

.item:hover {
  opacity: .5;
}

.item [data-state="animate"]{
  border: 2px solid $red;
}



// .remove{
//   width: 20px;
//   height: 20px;
//   background-color: red;
// }



/* The slider itself */
.slider-range {
    width: 150px;
    margin: 0;
    -webkit-appearance: none;  /* Override default CSS styles */
    border-radius: 3px;
    appearance: none;
    height: 28px; /* Specified height */
    background: #696969; /* Grey background */
    outline: none; /* Remove outline */
    // opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    //-webkit-transition: .2s;
    // transition: opacity .2s;
    border: 1px solid #1d1d1d;
    box-sizing: border-box;
}

/* Mouse-over effects */
.slider-range:hover {
    opacity: 1; /* Fully shown on mouse-over */
}


/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 28px; /* Set a specific slider handle width */
    height: 28px; /* Slider handle height */
    background: #282828; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 3px;
}

.slider-range::-moz-range-thumb {
    width: 28px; /* Set a specific slider handle width */
    height: 28px; /* Slider handle height */
    background: #282828; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 3px;
}




.slider-val {
  color: #ffffff;
  background-color: #282828;
  height: 28px;
  width: 28px;
  float: right;
  padding-top: 6px;
  box-sizing: border-box;
  font-size: 15px;
  border-radius: 3px;
  text-align: center;
  // font-weight: bold;
  // margin-right: 3px;
}

#x{ 
   display: none;
 }
.item-btn:hover #x{
   display: block;
 }


#x {
  position: relative;
  background: #484848;
  font-size: 10px;
  color: white;
  top: -27px;
  right: 17px;
  padding-top: 1px;
  box-sizing: border-box;
  height: 14px;
  width: 14px;
  border-radius: 7px;
}
